Package: simple-pad
Version: 1.0.3
Section: editors
Priority: optional
Architecture: all
Depends: openjdk-21-jre
Maintainer: klcenka9
Description: Lightweight Batch-aware text editor
 Simple Pad is a lightweight editor with syntax highlighting for Batch files.
