[Desktop Entry]
Type=Application
Name=Simple Pad
Comment=Batch-aware text editor
Exec=simple-pad
Icon=simple-pad
Terminal=false
Categories=Utility;TextEditor;Development;
